.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.add {
  color: white;
  background-color: rgb(10, 175, 10);
  border: none;
}

.add:focus {
  outline: none;
}

.flex-column {
  flex-direction: column;
}

.selected {
  border: none;
  background-color: white;
  color: black;
}

.projects {
  margin-right: 10px;
  color: white;
  background-color: #542e71;
  top: 0;
  right: 0;
  height: 100vh;
}

.delete-project {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: 30px;
}

.projects .project {
  padding-top: 10px;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

.delete {
  border-bottom: 5px solid black;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(253, 78, 78);
}

.delete:focus {
  outline: none;
}

.d-flex {
  display: flex;
}

.projects div {
  width: 15vw;
  height: 50px;
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: red;
}

.absolute {
  position: absolute;
}

.forms {
  min-width: 10%;
  min-height: 100vh;
  background-color: #ddd8b8;
  right: 0;
  top: 0;
  padding: 25px;
}
